html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#menu{
    position: absolute;
    width: 20%;
    height: 100%;
}
#menu-btn{
    position: absolute;
    left: 17%;    
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.5;
    transition: all 0.5s ease;
}
.btn-hide{
    left: 2px !important;
}
#filter{
    margin: 0 1px;
    width: 100%;
}
#map {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
    transition: width 0.5s ease, left 0.5s ease;
}
.map-full{
    left: 0 !important;
    width: 100% !important;
}
#sider_list{
    list-style-type: none;
    padding: 0;
}
#sider_list li:hover {
    background-color: #ddd;
    color: black;
}
#sider_list li{
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #menu {
      width: 30%;
    }
    #menu-btn{
        left: 23%;
    }
    #menu h3 {
      font-size: 16px;
    }
    #sider_list li {
      font-size: 12px;
    }
    #map {
      width: 70%;
      left: 30%;
    }
  }